# Created by https://www.toptal.com/developers/gitignore/api/windows,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
